.test::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    background-image: linear-gradient(0,
            var(--mantine-color-pink-6),
            var(--mantine-color-orange-6)) !important;
}