.grid {
    /* padding: var(--mantine-spacing-md); */
    /* min-height: 100%; */
}

.cell {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mantine-radius-md);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease;
    cursor: pointer;
    color: var(--mantine-color-white);
    font-weight: 600;
    font-size: var(--mantine-font-size-xl);
}

.cell:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: var(--mantine-color-yellow-4);
    /* transform: translateY(-4px); */
    box-shadow: var(--mantine-shadow-lg);
}