/* .tableCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.tableHeader {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

.thead {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    position: sticky;
    top: 0;
    z-index: 10;
}

.sortableHeader {
    cursor: pointer;
    user-select: none;
    transition: background-color 100ms ease;
}

.sortableHeader:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.headerText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sortIcon {
    display: flex;
    align-items: center;
    color: var(--mantine-color-blue-filled);
} */

.cellContent {
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--mantine-font-size-xs);
    height: 2em;
    display: flex;
    align-items: center;
}

.footer {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    text-align: center;
}


.paginationControl[data-active] {
    background-color: var(--mantine-color-dark-8);
    color: var(--mantine-color-white);
}

/* Custom scrollbar behavior */
:global(.mantine-ScrollArea-viewport) {
    scroll-behavior: smooth;
}